.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container > .left, 
.container > .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.container > .left > footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.background, 
.container > .left {
    background-image: url('../images/logo.png');
    background-size: cover;
    background-position: center;
}

.float-left > * {
    float: left;
}

.background,
.container > .left,
.container > .right > form > *,
.container > .right > form > .form-row > .label,
.container > .right > form > .form-row > .form-input
{
    display: inline-block;
}

/* body > *
{
    display: inline-block;
} */

/**/

.background {
    filter: blur(16px);
    width: 100%;
    height: 100vh;
}

.container {
    width: 80%;
}

.container > .left {
    width: 40%;
    /**/
    height: 500px;
    background-color: blue;
    padding: 10px;
    color: #fff;
}

.container > .left > .sign-up {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}

.container > .left > footer {
    bottom: 20px;
}
.container > .left > footer > * {
    float: left;
}

.container > .left > footer > .policy {}
.container > .left > footer > spam {}
.container > .left > footer > .terms {}

.container > .right {
    width: 60%;
    /**/
    height: 600px;
    background-color: white;
    padding: 50px;
    right: 0;
}

.container > .right > .close-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
.container > .right > .close-icon::before,
.container > .right > .close-icon::after {
    width: 20px;
    height: 2px;
    background-color: burlywood;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.container > .right > .close-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.container > .right > form > *,
.container > .right > form > .form-row > .label,
.container > .right > form > .form-row > .form-input {
    width: 100%;
}

.container > .right > form > .form-row {
    margin-bottom: 15px;
}
.container > .right > form > .form-row:last-of-type {
    margin-bottom: 0px;
}
.container > .right > form > .form-row > * {
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
}

.container > .right > form > .form-row > .label {
    font-size: 14px;
    line-height: 15px;
}
.container > .right > form > .form-row > .form-input {
    font-size: 18px;
    line-height: 25px;
}

.container > .right > form > .form-row > .label {
    color: grey;
    margin-bottom: 5px;
}

.container > .right > form > .form-row > .form-input {
    color: #333;
    border: none;
    border-bottom: 1px solid black;
}

.container > .right > form > .form-row > .button {
    background-color: indigo;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.container > .right > form > .form-row > spam {}
.container > .right > form > .form-row > .link-login {}